version: '3.8'

services:
  # Gerenciador de Proxy (Nginx Proxy Manager)
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: always
    ports:
      - '80:80'   # Entrada HTTP
      - '443:443' # Entrada HTTPS (Essencial para o seu objetivo)
      - '81:81'   # Painel de controle (Acesse via IP-DA-VM:81)
    volumes:
      - ./npm_data:/data
      - ./npm_letsencrypt:/etc/letsencrypt
    networks:
      - juridico-network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  # Sua Aplicação Jurídico OCR
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: juridico-ocr-app
    restart: always
    env_file:
      - .env
    environment:
      - PORT=3000
      - TRUST_PROXY=true # Importante para aplicações que usam HTTPS via Proxy
      - NODE_ENV=production
    volumes:
      - /mnt/ocr-juridico:/juridico
      - /mnt/ocr-juridico-people:/people
      - /mnt/ocr-juridico-Sign:/sign
      - /mnt/ocr-juridico-sign_original_files:/sign_original_files
    networks:
      - juridico-network
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G
        reservations:
          cpus: '0.5'
          memory: 1G

networks:
  juridico-network:
    driver: bridge